/* Centering the contact section */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.contactDesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contactPageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 40rem; /* Adjusted max-width to align better */
  margin: 0 auto;
}

.name, .email, .msg {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem 0; /* Vertical spacing between inputs */
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}

.submitBtn {
  background: white;
  border: none;
  border-radius: 0.5rem;
  margin: 2rem;
  padding: 0.75rem 3.5rem;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 1rem; /* Add some spacing above the icons */
  cursor: pointer;
  height: 5rem;
  width: 5rem;
}

.link {
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
  object-fit: cover; /* Ensures the image covers the specified dimensions */
}
