.navbar {
    background: rgb(30, 30, 30);
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
  }
  
  .desktopMenu {
    display: flex;
  }
  
  .desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: white;
  }
  
  .desktopMenuListItem:hover {
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
  }
  
  .navbar-buttons {
    display: flex;
    align-items: center;
  }
  
  .resumeDownload {
    background: white;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    border-radius: 2rem;
    margin-left: 35rem; /* Adjust spacing between buttons */
  }
  
  .resumeDownload a {
    text-decoration: none;
    color: black;
  }
  
  .resumeDownload:hover {
    background-color: #f0f0f0;
  }
  
  .desktopMenuBtn {
    border: none;
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  .desktopMenuImg {
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
  }
  
  .mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
    cursor: pointer;
  }
  
  .navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 1rem;
  }
  
  .listItem {
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(30, 30, 30);
    cursor: pointer;
  }
  
  .mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
    cursor: pointer;
  }
  
  @media screen and (max-width: 720px) {
    .mobMenu {
      display: flex;
    }
    .desktopMenu {
      display: none;
    }
    .desktopMenuBtn {
      display: none;
    }
  }
  