#works {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
  }
  
  .worksTitle {
    margin: 1rem 0;
    font-size: 3rem;
  }
  
  .worksDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 45rem;
  }
  
  .worksImgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 0.5rem;
    width: 100%;
    max-width: 50rem;
    margin-top: 1rem;
  
  }
  
  .worksFigure {
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: 0;
    height: 20rem;
  }
  
  .worksImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .worksCaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    text-align: center;
    padding: 0.5rem;
  }
  
  .worksCaption a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .worksBtn {
    margin: 3rem 0;
    padding: 0.5rem 2.5rem;
    border: none;
    background: white;
    border-radius: 2rem;
    font-size: 1rem;
  }
  
  @media screen and (max-width: 585px) {
    .worksImg {
      height: 48vw;
    }
  }
  